In [1]:
import pandas as pd
import numpy as np

# Open the dataset

In [2]:
#open the dataset
df = pd.read_csv("household_spending.csv")

/var/folders/kr/gz_9fn415s1dqh3m1jh9rmcc0000gs/T/ipykernel_15544/1814403755.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("household_spending.csv")

An error occurs due to inconsitent data type in the 14th column, "SYMBOL". Since I do not need to use this column, I simply silenced the warning:

In [3]:
df = pd.read_csv("household_spending.csv", low_memory=False)

In [4]:
df

,REF_DATE,GEO,DGUID,Statistic,"Household expenditures, summary-level categories",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2010,Canada,2016A000011124,Average expenditure per household,Total expenditure,Dollars,81,units,0,v54325508,1.1.1,72075.0,NaN,NaN,NaN,0
1,2010,Canada,2016A000011124,Average expenditure per household,Total current consumption,Dollars,81,units,0,v54325509,1.1.2,54013.0,NaN,NaN,NaN,0
2,2010,Canada,2016A000011124,Average expenditure per household,Food expenditures,Dollars,81,units,0,v54325510,1.1.3,7850.0,NaN,NaN,NaN,0
3,2010,Canada,2016A000011124,Average expenditure per household,Food purchased from stores,Dollars,81,units,0,v54325511,1.1.4,5709.0,NaN,NaN,NaN,0
4,2010,Canada,2016A000011124,Average expenditure per household,Bakery products,Dollars,81,units,0,v64469102,1.1.43,581.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36512,2019,British Columbia,2016A000259,Average expenditure per household,Gifts of money and support payments,Dollars,81,units,0,v64472646,13.1.311,2837.0,NaN,NaN,NaN,0
36513,2019,British Columbia,2016A000259,Average expenditure per household,Gifts of money to persons living in Canada,Dollars,81,units,0,v64472647,13.1.312,2187.0,NaN,NaN,NaN,0
36514,2019,British Columbia,2016A000259,Average expenditure per household,Gifts of money to persons living outside Canada,Dollars,81,units,0,v64472648,13.1.313,331.0,NaN,NaN,NaN,0
36515,2019,British Columbia,2016A000259,Average expenditure per household,Alimony and child support,Dollars,81,units,0,v64472649,13.1.314,320.0,NaN,NaN,NaN,0
36516,2019,British Columbia,2016A000259,Average expenditure per household,Charitable contributions,Dollars,81,units,0,v64472650,13.1.315,989.0,NaN,NaN,NaN,0

# Data cleaning

First, let's take a look at all the columns provide in the original dataset.

In [5]:
# list all column names
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Statistic',
       'Household expenditures, summary-level categories', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

Out of these columns, we are only keeping several relevant columns for this project's analysis. They are
* REF_DATE: the year when data was collected
* Household expenditures, summary-level categories: the type of expenses
* VALUE: amount of money that Canadian households spent on the expense in CAD  

Currently, the name of these three columns are vague and not clear. After selecting these three columns, I am going going to rename them.

In [6]:
# drop unwanted columns
columns = ['DGUID', 'Statistic','UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS']
df_1 = df.drop(columns = columns)

In [7]:
# rename columns
df_1.rename(columns = {'REF_DATE':'Year', 'Household expenditures, summary-level categories':'Expense Type', 'VALUE':'Amount' }, inplace = True)

In [8]:
df_1

,Year,GEO,Expense Type,Amount
0,2010,Canada,Total expenditure,72075.0
1,2010,Canada,Total current consumption,54013.0
2,2010,Canada,Food expenditures,7850.0
3,2010,Canada,Food purchased from stores,5709.0
4,2010,Canada,Bakery products,581.0
...,...,...,...,...
36512,2019,British Columbia,Gifts of money and support payments,2837.0
36513,2019,British Columbia,Gifts of money to persons living in Canada,2187.0
36514,2019,British Columbia,Gifts of money to persons living outside Canada,331.0
36515,2019,British Columbia,Alimony and child support,320.0
36516,2019,British Columbia,Charitable contributions,989.0

Look neat? Yes. However, the data is not ready for analysis yet.  
By refering to the metadata file, I know that not all expenses are equal. For example, total current consumption is a subset of total expenditure, while food expenditure is a subset of total current consumption. We need to do further data transformation to correctly classify the type of expenses. For now, let's switch to the metadata file that comes with the dataset.

# Classifying expense types into categories

In [9]:
#read the metadata file
df_metadata = pd.read_csv("11100222_MetaData.csv")

In [10]:
df_metadata.head(10)

,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions,Unnamed: 10,Unnamed: 11
0,"Household spending, Canada, regions and provinces",11100222,203-0021,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,3;4;6;7;11;14,CURRENT - a cube available to the public and t...,Annual,1/1/10,1/1/19,3.0,NaN,Total current consumption
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Income taxes
2,Dimension ID,Dimension name,Dimension Notes,Dimension Definitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal insurance payments and pension contri...
3,1,Geography,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Gifts of money, support payments and charitabl..."
4,2,Statistic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3,"Household expenditures, summary-level categories",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Dimension ID,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions,NaN,NaN,NaN,NaN
8,1,Canada,[11124],1,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN
9,1,Atlantic Region,[1],2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The medata file contains various information about the main dataset. We are going to slice a certain part of the file, from row 7 to row 379, to understand how some expenses are subsets of other expenses.

In [11]:
# select row 7 to row 379, resetting index
df_metadata = df_metadata[7:380].reset_index()
df_metadata.head(5)

,index,Cube Title,Product Id,CANSIM Id,URL,Cube Notes,Archive Status,Frequency,Start Reference Period,End Reference Period,Total number of dimensions,Unnamed: 10,Unnamed: 11
0,7,Dimension ID,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions,NaN,NaN,NaN,NaN
1,8,1,Canada,[11124],1,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN
2,9,1,Atlantic Region,[1],2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,1,Newfoundland and Labrador,[10],3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1,Prince Edward Island,[11],4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# taking columns name from row 0
df_metadata.columns = df_metadata.iloc[0]

In [13]:
# further remove non-expense rows of data
df_metadata = df_metadata[14: ].reset_index()
df_metadata.head(5)

,index,7,Dimension ID,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions,NaN,NaN,NaN,NaN
0,14,21,2,Average expenditure per household,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,22,3,Total expenditure,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16,23,3,Total current consumption,NaN,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17,24,3,Food expenditures,NaN,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18,25,3,Food purchased from stores,NaN,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In this metadata dataframe, we are interested in a few columns:
* Member Name: name of the expense
* Member ID: an unique ID assigned to that expense*
* Parent Member ID: if the expense is a subset of another expense, an ID of the parent expense is shown

In [14]:
df_metadata = df_metadata[["Member Name", "Member ID", "Parent Member ID"]]
df_metadata

,Member Name,Member ID,Parent Member ID
0,Average expenditure per household,1,NaN
1,Total expenditure,1,NaN
2,Total current consumption,2,1
3,Food expenditures,3,2
4,Food purchased from stores,4,3
...,...,...,...
354,"Tobacco products, alcoholic beverages and cann...",359,2
355,"Other tobacco products, smokers' supplies and ...",360,279
356,Cannabis for non-medical use,361,37
357,Administration fees for brokers and stock and ...,362,290
358,Fines,363,295

We will now create a dictionary that map each expense name to its parent expense name.

In [15]:
# create a dictionary using ID and expense name
expense_name_dict = {}
for i in range(len(df_metadata)):
    id = df_metadata.loc[i, "Member ID"]
    expense_name = df_metadata.loc[i, "Member Name"]
    expense_name_dict[id] = expense_name
expense_name_dict

{'1': 'Total expenditure',
 '2': 'Total current consumption',
 '3': 'Food expenditures',
 '4': 'Food purchased from stores',
 '5': 'Food purchased from restaurants',
 '6': 'Shelter',
 '7': 'Principal accommodation',
 '8': 'Rented living quarters',
 '9': 'Owned living quarters',
 '10': 'Water, fuel and electricity for principal accommodation',
 '11': 'Other accommodation',
 '12': 'Household operations',
 '13': 'Communications',
 '14': 'Household furnishings and equipment',
 '15': 'Household furnishings',
 '16': 'Household equipment',
 '17': 'Household appliances',
 '18': 'Clothing and accessories',
 '23': 'Transportation',
 '24': 'Private transportation',
 '25': 'Public transportation',
 '26': 'Health care',
 '27': 'Direct health care costs to household',
 '28': 'Health insurance premiums',
 '29': 'Personal care',
 '30': 'Recreation',
 '31': 'Recreational equipment and related services',
 '32': 'Home entertainment equipment and services',
 '33': 'Recreational services',
 '34': 'Recreational vehicles and associated services',
 '35': 'Education',
 '36': 'Reading materials and other printed matter',
 '37': 'Tobacco products and alcoholic beverages',
 '38': 'Games of chance',
 '39': 'Miscellaneous expenditures',
 '40': 'Income taxes',
 '41': 'Personal insurance payments and pension contributions',
 '42': 'Gifts of money, support payments and charitable contributions',
 '43': 'Bakery products',
 '44': 'Cereal grains and cereal products',
 '45': 'Fruit, fruit preparations and nuts',
 '46': 'Vegetables and vegetable preparations',
 '47': 'Dairy products and eggs',
 '48': 'Meat',
 '49': 'Fish and seafood',
 '50': 'Non-alcoholic beverages and other food products',
 '51': 'Restaurant meals',
 '52': 'Restaurant snacks and beverages',
 '53': 'Rent',
 '54': "Tenants' repairs and improvements",
 '55': "Tenants' insurance premiums",
 '56': 'Parking at rented living quarters (excluding amounts reported with rent)',
 '57': 'Mortgage paid for owned living quarters',
 '58': 'Repairs and maintenance for owned living quarters',
 '59': 'Condominium fees for owned living quarters',
 '60': 'Property and school taxes for owned living quarters',
 '61': "Homeowners' insurance premiums for owned living quarters",
 '62': 'Other expenditures for owned living quarters',
 '63': 'Commissions for sale of real estate owned by the household',
 '64': 'Legal fees related to owned living quarters',
 '65': 'Mortgage insurance premiums for owned living quarters',
 '67': 'Registration fees, renewal fees and early renewal or closing penalties for owned living quarters',
 '68': 'Transfer taxes and land registration fees for owned living quarters',
 '69': 'Water and sewage for principal accommodation',
 '70': 'Electricity for principal accommodation',
 '71': 'Natural gas for principal accommodation',
 '72': 'Other fuel for principal accommodation',
 '73': 'Owned secondary residences',
 '74': 'Mortgage paid for owned secondary residences',
 '75': 'Property taxes and sewage charges for owned secondary residences',
 '76': 'Insurance premiums for owned secondary residences',
 '77': 'Electricity, water and fuel for owned secondary residences',
 '78': 'Other expenses for owned secondary residences',
 '79': 'Other owned properties',
 '80': 'Accommodation away from home',
 '81': 'Hotels and motels',
 '82': 'Other accommodation away from home',
 '83': 'Telephone',
 '84': 'Landline telephone services',
 '85': 'Cell phone and pager services',
 '86': 'Purchase of telephones and equipment',
 '87': 'Internet access services',
 '88': 'Digital services',
 '89': 'Postal, courier and other communication services',
 '90': 'Domestic and other custodial services (excluding child care)',
 '91': 'Pet expenses',
 '92': 'Pet food',
 '93': 'Purchase of pets and pet-related goods',
 '94': 'Veterinarian and other services',
 '95': 'Household cleaning supplies and equipment',
 '96': 'Detergent and other soaps',
 '97': 'Other household cleaning supplies',
 '98': 'Cleaning equipment (non-electric)',
 '99': 'Paper, plastic and foil supplies',
 '100': 'Stationery (excluding school supplies)',
 '101': 'Other paper supplies',
 '102': 'Plastic and foil supplies',
 '103': 'Garden supplies and services',
 '104': 'Nursery and greenhouse stock, cut flowers, decorative plants and planting seeds',
 '105': 'Fertilizers, herbicides, insecticides, pesticides, soil and soil conditioners',
 '106': 'Groundskeeping services, snow and garbage removal',
 '107': 'Other household supplies',
 '108': 'Child care',
 '109': 'Child care outside the home',
 '110': 'Child care in the home (regular and occasional)',
 '111': 'Furniture',
 '112': 'Rugs, mats and underpadding',
 '113': 'Art, antiques and decorative ware',
 '114': 'Linens',
 '115': 'Other household furnishings (curtains, mirrors and picture frames)',
 '116': 'Refrigerators and freezers',
 '117': 'Microwave ovens',
 '118': 'Cooking appliances',
 '119': 'Washers and dryers',
 '120': 'Dishwashers',
 '121': 'Room air conditioners, portable humidifiers and dehumidifiers',
 '122': 'Other electric equipment and appliances (including parts and attachments)',
 '123': 'Other household equipment',
 '124': 'Home and workshop tools and equipment',
 '125': 'Lawn, garden and snow-removal equipment and tools',
 '126': 'Non-electric kitchen and cooking equipment',
 '127': 'Other household equipment, parts and accessories',
 '128': 'Maintenance, rental, repairs and services related to household furnishings and equipment',
 '129': 'Services related to household furnishings and equipment',
 '130': 'Rental of heating equipment',
 '131': 'Home security services',
 '132': "Women's and girls' wear (women and girls aged 4 years and over)",
 '133': 'Clothing (women and girls aged 4 years and over)',
 '134': 'Footwear (women and girls aged 4 years and over)',
 '135': 'Athletic footwear (women and girls aged 4 years and over)',
 '136': 'Other footwear (women and girls aged 4 years and over)',
 '137': 'Accessories (women and girls aged 4 years and over)',
 '138': 'Watches and jewellery (women and girls aged 4 years and over)',
 '139': 'Watches (women and girls aged 4 years and over)',
 '140': 'Jewellery (women and girls aged 4 years and over)',
 '141': "Men's and boys' wear (men and boys aged 4 years and over)",
 '142': 'Clothing (men and boys aged 4 years and over)',
 '143': 'Footwear (men and boys aged 4 years and over)',
 '144': 'Athletic footwear (men and boys aged 4 years and over)',
 '145': 'Other footwear (men and boys aged 4 years and over)',
 '146': 'Accessories (men and boys aged 4 years and over)',
 '147': 'Watches and jewellery (men and boys aged 4 years and over)',
 '148': 'Watches (men and boys aged 4 years and over)',
 '149': 'Jewellery (men and boys aged 4 years and over)',
 '150': "Children's wear (children under 4 years)",
 '151': 'Clothing and cloth diapers (children under 4 years)',
 '152': 'Footwear (children under 4 years)',
 '153': 'Gifts of clothing for non-household members',
 '154': 'Clothing material, yarn, thread and other notions',
 '155': 'Clothing services',
 '156': 'Laundry and dry-cleaning services',
 '157': 'Laundromats and self-service dry cleaning',
 '158': 'Services for clothing, footwear and jewellery',
 '159': 'Private use automobiles, vans and trucks',
 '160': 'Purchase of automobiles, vans and trucks',
 '161': 'Automobiles (purchase)',
 '162': 'Vans (including mini-vans, purchase)',
 '163': 'Trucks (including sport utility vehicles, purchase)',
 '164': 'Accessories for automobiles, vans and trucks',
 '165': 'Fees for leased automobiles, vans and trucks',
 '166': 'Regular fees for leased automobiles, vans and trucks',
 '167': 'Regular fees for leased automobiles',
 '168': 'Regular fees for leased vans and trucks',
 '169': 'Other costs for leased automobiles, vans and trucks (include down payment and closing costs)',
 '170': 'Rented automobiles, vans and trucks',
 '171': 'Automobile, van and truck operations',
 '172': 'Registration fees for automobiles, vans and trucks (including insurance if part of registration)',
 '173': 'Private and public vehicle insurance premiums',
 '174': 'Tires, batteries, and other parts and supplies for vehicles',
 '175': 'Maintenance and repairs of vehicles',
 '176': 'Vehicle security and communication services',
 '177': 'Gas and other fuels (all vehicles and tools)',
 '178': 'Other automobile, van and truck operation services',
 '179': 'Parking (excluding parking fees included in rent and traffic and parking tickets)',
 '180': "Drivers' licences and tests, and driving lessons",
 '181': "Drivers' licences and tests",
 '182': 'Driving lessons',
 '183': 'City or commuter bus, subway, streetcar and commuter train',
 '184': 'Taxi (including tips)',
 '185': 'Other local passenger transportation',
 '186': 'Airplane',
 '187': 'Inter-city bus',
 '188': 'Other inter-city passenger transportation services',
 '189': 'Household moving, storage and delivery services',
 '190': 'Prescribed medicines and pharmaceutical products',
 '191': 'Non-prescribed medicines, pharmaceutical products, health care supplies and equipment',
 '192': 'Health care services',
 '193': 'Health care practitioners (excluding general practitioners and specialists)',
 '194': 'Health care by general practitioners and specialists',
 '195': 'Weight control programs, smoking cessation programs and other medical services',
 '196': 'Hospital care, nursing homes and other residential care facilities',
 '197': 'Eye-care goods and services',
 '198': 'Prescription eye wear',
 '199': 'Non-prescription eye wear and other eye-care goods',
 '200': 'Eye-care services (e.g. surgery, exams)',
 '201': 'Dental services',
 '202': 'Public hospital, medical and drug plan premiums',
 '203': 'Private health insurance plan premiums',
 '204': 'Private health care plan premiums',
 '205': 'Dental plan premiums',
 '206': 'Accident or disability insurance premiums',
 '207': 'Personal care products',
 '208': 'Hair care products',
 '209': 'Makeup, skin care, manicure and fragrance products',
 '210': 'Makeup, skin care and manicure products',
 '211': 'Fragrance products',
 '212': 'Personal deodorants',
 '213': 'Body soaps',
 '214': 'Oral hygiene products',
 '215': 'Disposable diapers',
 '216': 'Other personal care supplies and equipment',
 '217': 'Personal care services',
 '218': 'Hair grooming services',
 '219': 'Other personal care services',
 '220': 'Sports, athletic and recreational equipment and related services',
 '221': 'Outdoor play equipment and accessories',
 '222': "Children's toys",
 '223': 'Video game systems and accessories (excluding for computers)',
 '224': 'Art and craft materials',
 '225': 'Computer equipment and supplies',
 '226': 'Computer hardware',
 '227': 'Computer software and video game systems',
 '228': 'Computer supplies and other equipment',
 '229': 'Photographic goods and services',
 '230': 'Cameras and accessories',
 '231': 'Photographic services',
 '232': "Collectors' items (e.g. stamps, coins)",
 '233': 'Other recreational equipment and related services',
 '234': 'Home entertainment equipment',
 '235': 'Audio equipment',
 '236': 'Video equipment',
 '237': 'Blu-ray players',
 '238': 'DVD players',
 '239': 'Televisions and other video equipment and accessories',
 '240': 'Home theatre systems',
 '241': 'Pre-recorded media, music downloads and blank audio and video media',
 '242': 'Home entertainment services',
 '243': 'Rental of video media',
 '244': 'Maintenance and repairs of electronic and communications equipment',
 '245': 'Entertainment',
 '246': 'Movie theatres',
 '247': 'Live sporting and performing arts events',
 '248': 'Admission fees to museums, zoos and other sites',
 '249': 'Television and satellite radio services (including installation, service and pay TV charges)',
 '250': 'Rental of cablevision services (including any installation, service and pay TV charges)',
 '251': 'Rental of satellite TV or radio services (including installation, service and pay TV charges)',
 '252': 'Use of recreation facilities',
 '253': 'Dues and fees for sports and recreation facilities',
 '254': "Children's camps",
 '255': 'Package trips',
 '256': 'Other recreational activities and services',
 '257': 'Purchase of recreational vehicles',
 '258': 'Motorcycles and snowmobiles (purchase)',
 '259': 'All-terrain vehicles (purchase)',
 '260': 'Other recreational vehicles (purchase)',
 '261': 'Bicycles (purchase), parts and accessories',
 '262': 'Operation of recreational vehicles',
 '263': 'Insurance premiums for recreational vehicles',
 '264': 'Registration fees and licences for recreational vehicles',
 '265': 'Parking, storage fees and other dues',
 '266': 'Other expenses for recreational vehicles',
 '267': 'Tuition fees',
 '268': 'Tuition fees for kindergarten, elementary and secondary schools',
 '269': 'Tuition fees for university',
 '270': 'Tuition fees for other training (college, trade and professional institutions)',
 '271': 'Other educational services',
 '272': 'Personal interest courses and lessons (excluding driving lessons)',
 '273': 'Textbooks and school supplies',
 '274': 'Newspapers',
 '275': 'Magazines and periodicals',
 '276': 'Books and E-Books (excluding school books)',
 '277': 'Maps, sheet music and other printed matter',
 '278': 'Services related to reading materials (e.g. photocopying, library fees)',
 '279': "Tobacco products and smokers' supplies",
 '280': 'Cigarettes',
 '281': "Other tobacco products and smokers' supplies",
 '282': 'Alcoholic beverages',
 '283': 'Alcoholic beverages served on licensed premises and in restaurants',
 '284': 'Alcoholic beverages purchased from stores',
 '285': 'Self-made alcoholic beverages',
 '286': 'Government-run lotteries',
 '287': 'Other games of chance',
 '288': 'Casinos, bingos and gaming machines',
 '289': 'Non-government lotteries and raffle tickets',
 '290': 'Financial services',
 '291': 'Service charges for banks and other financial institutions',
 '292': 'Stock and bond commissions',
 '293': 'Brokerage fees and other similar services',
 '294': 'Other financial services',
 '295': 'Other miscellaneous goods and services',
 '296': 'Forfeit of deposits, fines, and money lost or stolen',
 '297': 'Legal services not related to dwellings',
 '298': 'Dues to unions and professional associations',
 '299': 'Contributions and dues for social clubs and other organizations',
 '300': 'Funeral services',
 '301': 'Government services',
 '302': 'Wholesale/retail memberships',
 '303': 'Other goods and services',
 '304': 'Discounts and refunds',
 '305': 'Recycling fees and other environmental fees',
 '306': 'Other general expenditures',
 '307': 'Employment insurance and Quebec parental insurance premiums',
 '308': 'Retirement and pension fund payments',
 '309': 'Annuity contracts and transfers to RRIFs',
 '310': 'Premiums on life, term and endowment insurance',
 '311': 'Gifts of money and support payments',
 '312': 'Gifts of money to persons living in Canada',
 '313': 'Gifts of money to persons living outside Canada',
 '314': 'Alimony and child support',
 '315': 'Charitable contributions',
 '316': 'All other expenses related to owned living quarters (excluding repairs and maintenance)',
 '317': 'Tablet computers',
 '318': 'Property and school taxes, water and sewage charges for owned secondary residences',
 '319': 'Electricity and fuel (e.g. natural gas and wood) for owned secondary residences',
 '320': 'Communication and home security services (e.g. landline telephone, television, satellite radio and Internet) for owned secondary residences',
 '321': 'E-Book readers',
 '322': 'Wearable electronic devices',
 '323': 'Electronic cigarettes and supplies for electronic cigarettes',
 '324': 'Postal, courier, delivery and other communication services',
 '325': 'Works of art, carvings and other decorative ware',
 '326': 'Microwave ovens and cooking appliances',
 '327': 'Washers, dryers and dishwashers',
 '328': "Women's and girls' wear (women and girls aged 14 years and over)",
 '329': 'Clothing (women and girls aged 14 years and over)',
 '330': 'Footwear (women and girls aged 14 years and over)',
 '331': "Men's and boys' wear (men and boys aged 14 years and over)",
 '332': 'Clothing (men and boys aged 14 years and over)',
 '333': 'Footwear (men and boys aged 14 years and over)',
 '334': "Children's wear (children under 14 years of age)",
 '335': 'Clothing and cloth diapers (children under 14 years of age)',
 '336': 'Footwear (children under 14 years of age)',
 '337': 'Athletic footwear',
 '338': 'Accessories',
 '339': 'Watches and jewellery',
 '340': 'Laundromats, dry-cleaning and laundry services',
 '341': 'Vehicle operation, security and communication services',
 '342': 'Peer-to-peer ride services',
 '343': 'Household moving and storage services',
 '344': 'Prescribed medicines, pharmaceutical products and cannabis for medical use',
 '345': 'Cannabis for medical use',
 '346': 'Private health and dental plan premiums',
 '347': 'Camcorders, cameras, parts, accessories and related equipment',
 '348': 'Other recreational equipment',
 '349': 'Audio equipment and home theatre systems',
 '350': 'DVD players, Blu-Ray players and other video equipment and accessories',
 '351': 'Televisions',
 '352': 'Rental of videotapes, DVDs and video games',
 '353': 'Rental, maintenance, repair and services related to computers, phones, audio, video and other electronic equipment',
 '354': 'Use of recreational facilities and fees for other recreational activities',
 '355': 'Dues and fees for sports and recreational activities and athletic and recreational facilities',
 '356': 'Water parks and amusement parks',
 '357': 'Other recreational services',
 '358': 'Bicycles (purchase)',
 '359': 'Tobacco products, alcoholic beverages and cannabis for non-medical use',
 '360': "Other tobacco products, smokers' supplies and e-cigarettes",
 '361': 'Cannabis for non-medical use',
 '362': 'Administration fees for brokers and stock and bond commissions',
 '363': 'Fines'}

In [16]:
# create a dictionary to link an expense with its parent expense
parent_expense_dict = {}
for i in range(len(df_metadata)):
    try:
        expense_id = df_metadata.loc[i, "Member ID"]
        expense = expense_name_dict[expense_id]
        parent_expense_id = df_metadata.loc[i, "Parent Member ID"]
        parent_expense = expense_name_dict[parent_expense_id]
        parent_expense_dict[expense] = parent_expense
    except:
        print(f'{expense}: no parent expense')
parent_expense_dict

Total expenditure: no parent expense
Total expenditure: no parent expense

{'Total current consumption': 'Total expenditure',
 'Food expenditures': 'Total current consumption',
 'Food purchased from stores': 'Food expenditures',
 'Food purchased from restaurants': 'Food expenditures',
 'Shelter': 'Total current consumption',
 'Principal accommodation': 'Shelter',
 'Rented living quarters': 'Principal accommodation',
 'Owned living quarters': 'Principal accommodation',
 'Water, fuel and electricity for principal accommodation': 'Principal accommodation',
 'Other accommodation': 'Shelter',
 'Household operations': 'Total current consumption',
 'Communications': 'Household operations',
 'Household furnishings and equipment': 'Total current consumption',
 'Household furnishings': 'Household furnishings and equipment',
 'Household equipment': 'Household furnishings and equipment',
 'Household appliances': 'Household equipment',
 'Clothing and accessories': 'Total current consumption',
 'Transportation': 'Total current consumption',
 'Private transportation': 'Transportation',
 'Public transportation': 'Transportation',
 'Health care': 'Total current consumption',
 'Direct health care costs to household': 'Health care',
 'Health insurance premiums': 'Health care',
 'Personal care': 'Total current consumption',
 'Recreation': 'Total current consumption',
 'Recreational equipment and related services': 'Recreation',
 'Home entertainment equipment and services': 'Recreation',
 'Recreational services': 'Recreation',
 'Recreational vehicles and associated services': 'Recreation',
 'Education': 'Total current consumption',
 'Reading materials and other printed matter': 'Total current consumption',
 'Tobacco products and alcoholic beverages': 'Total current consumption',
 'Games of chance': 'Total current consumption',
 'Miscellaneous expenditures': 'Total current consumption',
 'Income taxes': 'Total expenditure',
 'Personal insurance payments and pension contributions': 'Total expenditure',
 'Gifts of money, support payments and charitable contributions': 'Total expenditure',
 'Bakery products': 'Food purchased from stores',
 'Cereal grains and cereal products': 'Food purchased from stores',
 'Fruit, fruit preparations and nuts': 'Food purchased from stores',
 'Vegetables and vegetable preparations': 'Food purchased from stores',
 'Dairy products and eggs': 'Food purchased from stores',
 'Meat': 'Food purchased from stores',
 'Fish and seafood': 'Food purchased from stores',
 'Non-alcoholic beverages and other food products': 'Food purchased from stores',
 'Restaurant meals': 'Food purchased from restaurants',
 'Restaurant snacks and beverages': 'Food purchased from restaurants',
 'Rent': 'Rented living quarters',
 "Tenants' repairs and improvements": 'Rented living quarters',
 "Tenants' insurance premiums": 'Rented living quarters',
 'Parking at rented living quarters (excluding amounts reported with rent)': 'Rented living quarters',
 'Mortgage paid for owned living quarters': 'Owned living quarters',
 'Repairs and maintenance for owned living quarters': 'Owned living quarters',
 'Condominium fees for owned living quarters': 'Owned living quarters',
 'Property and school taxes for owned living quarters': 'Owned living quarters',
 "Homeowners' insurance premiums for owned living quarters": 'Owned living quarters',
 'Other expenditures for owned living quarters': 'Owned living quarters',
 'Commissions for sale of real estate owned by the household': 'Other expenditures for owned living quarters',
 'Legal fees related to owned living quarters': 'Other expenditures for owned living quarters',
 'Mortgage insurance premiums for owned living quarters': 'Other expenditures for owned living quarters',
 'Registration fees, renewal fees and early renewal or closing penalties for owned living quarters': 'Other expenditures for owned living quarters',
 'Transfer taxes and land registration fees for owned living quarters': 'Other expenditures for owned living quarters',
 'Water and sewage for principal accommodation': 'Water, fuel and electricity for principal accommodation',
 'Electricity for principal accommodation': 'Water, fuel and electricity for principal accommodation',
 'Natural gas for principal accommodation': 'Water, fuel and electricity for principal accommodation',
 'Other fuel for principal accommodation': 'Water, fuel and electricity for principal accommodation',
 'Owned secondary residences': 'Other accommodation',
 'Mortgage paid for owned secondary residences': 'Owned secondary residences',
 'Property taxes and sewage charges for owned secondary residences': 'Owned secondary residences',
 'Insurance premiums for owned secondary residences': 'Owned secondary residences',
 'Electricity, water and fuel for owned secondary residences': 'Owned secondary residences',
 'Other expenses for owned secondary residences': 'Owned secondary residences',
 'Other owned properties': 'Other accommodation',
 'Accommodation away from home': 'Other accommodation',
 'Hotels and motels': 'Accommodation away from home',
 'Other accommodation away from home': 'Accommodation away from home',
 'Telephone': 'Communications',
 'Landline telephone services': 'Telephone',
 'Cell phone and pager services': 'Telephone',
 'Purchase of telephones and equipment': 'Telephone',
 'Internet access services': 'Communications',
 'Digital services': 'Communications',
 'Postal, courier and other communication services': 'Communications',
 'Domestic and other custodial services (excluding child care)': 'Household operations',
 'Pet expenses': 'Household operations',
 'Pet food': 'Pet expenses',
 'Purchase of pets and pet-related goods': 'Pet expenses',
 'Veterinarian and other services': 'Pet expenses',
 'Household cleaning supplies and equipment': 'Household operations',
 'Detergent and other soaps': 'Household cleaning supplies and equipment',
 'Other household cleaning supplies': 'Household cleaning supplies and equipment',
 'Cleaning equipment (non-electric)': 'Household cleaning supplies and equipment',
 'Paper, plastic and foil supplies': 'Household operations',
 'Stationery (excluding school supplies)': 'Paper, plastic and foil supplies',
 'Other paper supplies': 'Paper, plastic and foil supplies',
 'Plastic and foil supplies': 'Paper, plastic and foil supplies',
 'Garden supplies and services': 'Household operations',
 'Nursery and greenhouse stock, cut flowers, decorative plants and planting seeds': 'Garden supplies and services',
 'Fertilizers, herbicides, insecticides, pesticides, soil and soil conditioners': 'Garden supplies and services',
 'Groundskeeping services, snow and garbage removal': 'Garden supplies and services',
 'Other household supplies': 'Household operations',
 'Child care': 'Household operations',
 'Child care outside the home': 'Child care',
 'Child care in the home (regular and occasional)': 'Child care',
 'Furniture': 'Household furnishings',
 'Rugs, mats and underpadding': 'Household furnishings',
 'Art, antiques and decorative ware': 'Household furnishings',
 'Linens': 'Household furnishings',
 'Other household furnishings (curtains, mirrors and picture frames)': 'Household furnishings',
 'Refrigerators and freezers': 'Household appliances',
 'Microwave ovens': 'Household appliances',
 'Cooking appliances': 'Household appliances',
 'Washers and dryers': 'Household appliances',
 'Dishwashers': 'Household appliances',
 'Room air conditioners, portable humidifiers and dehumidifiers': 'Household appliances',
 'Other electric equipment and appliances (including parts and attachments)': 'Household appliances',
 'Other household equipment': 'Household equipment',
 'Home and workshop tools and equipment': 'Other household equipment',
 'Lawn, garden and snow-removal equipment and tools': 'Other household equipment',
 'Non-electric kitchen and cooking equipment': 'Other household equipment',
 'Other household equipment, parts and accessories': 'Other household equipment',
 'Maintenance, rental, repairs and services related to household furnishings and equipment': 'Household furnishings and equipment',
 'Services related to household furnishings and equipment': 'Household furnishings and equipment',
 'Rental of heating equipment': 'Services related to household furnishings and equipment',
 'Home security services': 'Services related to household furnishings and equipment',
 "Women's and girls' wear (women and girls aged 4 years and over)": 'Clothing and accessories',
 'Clothing (women and girls aged 4 years and over)': "Women's and girls' wear (women and girls aged 4 years and over)",
 'Footwear (women and girls aged 4 years and over)': "Women's and girls' wear (women and girls aged 4 years and over)",
 'Athletic footwear (women and girls aged 4 years and over)': 'Footwear (women and girls aged 4 years and over)',
 'Other footwear (women and girls aged 4 years and over)': 'Footwear (women and girls aged 4 years and over)',
 'Accessories (women and girls aged 4 years and over)': "Women's and girls' wear (women and girls aged 4 years and over)",
 'Watches and jewellery (women and girls aged 4 years and over)': "Women's and girls' wear (women and girls aged 4 years and over)",
 'Watches (women and girls aged 4 years and over)': 'Watches and jewellery (women and girls aged 4 years and over)',
 'Jewellery (women and girls aged 4 years and over)': 'Watches and jewellery (women and girls aged 4 years and over)',
 "Men's and boys' wear (men and boys aged 4 years and over)": 'Clothing and accessories',
 'Clothing (men and boys aged 4 years and over)': "Men's and boys' wear (men and boys aged 4 years and over)",
 'Footwear (men and boys aged 4 years and over)': "Men's and boys' wear (men and boys aged 4 years and over)",
 'Athletic footwear (men and boys aged 4 years and over)': 'Footwear (men and boys aged 4 years and over)',
 'Other footwear (men and boys aged 4 years and over)': 'Footwear (men and boys aged 4 years and over)',
 'Accessories (men and boys aged 4 years and over)': "Men's and boys' wear (men and boys aged 4 years and over)",
 'Watches and jewellery (men and boys aged 4 years and over)': "Men's and boys' wear (men and boys aged 4 years and over)",
 'Watches (men and boys aged 4 years and over)': 'Watches and jewellery (men and boys aged 4 years and over)',
 'Jewellery (men and boys aged 4 years and over)': 'Watches and jewellery (men and boys aged 4 years and over)',
 "Children's wear (children under 4 years)": 'Clothing and accessories',
 'Clothing and cloth diapers (children under 4 years)': "Children's wear (children under 4 years)",
 'Footwear (children under 4 years)': "Children's wear (children under 4 years)",
 'Gifts of clothing for non-household members': 'Clothing and accessories',
 'Clothing material, yarn, thread and other notions': 'Clothing and accessories',
 'Clothing services': 'Clothing and accessories',
 'Laundry and dry-cleaning services': 'Clothing services',
 'Laundromats and self-service dry cleaning': 'Clothing services',
 'Services for clothing, footwear and jewellery': 'Clothing services',
 'Private use automobiles, vans and trucks': 'Private transportation',
 'Purchase of automobiles, vans and trucks': 'Private use automobiles, vans and trucks',
 'Automobiles (purchase)': 'Purchase of automobiles, vans and trucks',
 'Vans (including mini-vans, purchase)': 'Purchase of automobiles, vans and trucks',
 'Trucks (including sport utility vehicles, purchase)': 'Purchase of automobiles, vans and trucks',
 'Accessories for automobiles, vans and trucks': 'Private use automobiles, vans and trucks',
 'Fees for leased automobiles, vans and trucks': 'Private use automobiles, vans and trucks',
 'Regular fees for leased automobiles, vans and trucks': 'Fees for leased automobiles, vans and trucks',
 'Regular fees for leased automobiles': 'Regular fees for leased automobiles, vans and trucks',
 'Regular fees for leased vans and trucks': 'Regular fees for leased automobiles, vans and trucks',
 'Other costs for leased automobiles, vans and trucks (include down payment and closing costs)': 'Fees for leased automobiles, vans and trucks',
 'Rented automobiles, vans and trucks': 'Private transportation',
 'Automobile, van and truck operations': 'Private transportation',
 'Registration fees for automobiles, vans and trucks (including insurance if part of registration)': 'Automobile, van and truck operations',
 'Private and public vehicle insurance premiums': 'Automobile, van and truck operations',
 'Tires, batteries, and other parts and supplies for vehicles': 'Automobile, van and truck operations',
 'Maintenance and repairs of vehicles': 'Automobile, van and truck operations',
 'Vehicle security and communication services': 'Automobile, van and truck operations',
 'Gas and other fuels (all vehicles and tools)': 'Automobile, van and truck operations',
 'Other automobile, van and truck operation services': 'Automobile, van and truck operations',
 'Parking (excluding parking fees included in rent and traffic and parking tickets)': 'Automobile, van and truck operations',
 "Drivers' licences and tests, and driving lessons": 'Automobile, van and truck operations',
 "Drivers' licences and tests": "Drivers' licences and tests, and driving lessons",
 'Driving lessons': "Drivers' licences and tests, and driving lessons",
 'City or commuter bus, subway, streetcar and commuter train': 'Public transportation',
 'Taxi (including tips)': 'Public transportation',
 'Other local passenger transportation': 'Public transportation',
 'Airplane': 'Public transportation',
 'Inter-city bus': 'Public transportation',
 'Other inter-city passenger transportation services': 'Public transportation',
 'Household moving, storage and delivery services': 'Public transportation',
 'Prescribed medicines and pharmaceutical products': 'Prescribed medicines, pharmaceutical products and cannabis for medical use',
 'Non-prescribed medicines, pharmaceutical products, health care supplies and equipment': 'Direct health care costs to household',
 'Health care services': 'Direct health care costs to household',
 'Health care practitioners (excluding general practitioners and specialists)': 'Health care services',
 'Health care by general practitioners and specialists': 'Health care services',
 'Weight control programs, smoking cessation programs and other medical services': 'Health care services',
 'Hospital care, nursing homes and other residential care facilities': 'Health care services',
 'Eye-care goods and services': 'Direct health care costs to household',
 'Prescription eye wear': 'Eye-care goods and services',
 'Non-prescription eye wear and other eye-care goods': 'Eye-care goods and services',
 'Eye-care services (e.g. surgery, exams)': 'Eye-care goods and services',
 'Dental services': 'Direct health care costs to household',
 'Public hospital, medical and drug plan premiums': 'Health insurance premiums',
 'Private health insurance plan premiums': 'Health care',
 'Private health care plan premiums': 'Private health insurance plan premiums',
 'Dental plan premiums': 'Private health insurance plan premiums',
 'Accident or disability insurance premiums': 'Private health insurance plan premiums',
 'Personal care products': 'Personal care',
 'Hair care products': 'Personal care products',
 'Makeup, skin care, manicure and fragrance products': 'Personal care products',
 'Makeup, skin care and manicure products': 'Makeup, skin care, manicure and fragrance products',
 'Fragrance products': 'Makeup, skin care, manicure and fragrance products',
 'Personal deodorants': 'Personal care products',
 'Body soaps': 'Personal care products',
 'Oral hygiene products': 'Personal care products',
 'Disposable diapers': 'Personal care products',
 'Other personal care supplies and equipment': 'Personal care products',
 'Personal care services': 'Personal care',
 'Hair grooming services': 'Personal care services',
 'Other personal care services': 'Personal care services',
 'Sports, athletic and recreational equipment and related services': 'Recreational equipment and related services',
 'Outdoor play equipment and accessories': 'Recreational equipment and related services',
 "Children's toys": 'Recreational equipment and related services',
 'Video game systems and accessories (excluding for computers)': 'Recreational equipment and related services',
 'Art and craft materials': 'Recreational equipment and related services',
 'Computer equipment and supplies': 'Recreational equipment and related services',
 'Computer hardware': 'Computer equipment and supplies',
 'Computer software and video game systems': 'Computer equipment and supplies',
 'Computer supplies and other equipment': 'Computer equipment and supplies',
 'Photographic goods and services': 'Recreational equipment and related services',
 'Cameras and accessories': 'Photographic goods and services',
 'Photographic services': 'Photographic goods and services',
 "Collectors' items (e.g. stamps, coins)": 'Recreational equipment and related services',
 'Other recreational equipment and related services': 'Recreational equipment and related services',
 'Home entertainment equipment': 'Home entertainment equipment and services',
 'Audio equipment': 'Home entertainment equipment',
 'Video equipment': 'Home entertainment equipment',
 'Blu-ray players': 'Video equipment',
 'DVD players': 'Video equipment',
 'Televisions and other video equipment and accessories': 'Video equipment',
 'Home theatre systems': 'Home entertainment equipment',
 'Pre-recorded media, music downloads and blank audio and video media': 'Home entertainment equipment',
 'Home entertainment services': 'Home entertainment equipment and services',
 'Rental of video media': 'Home entertainment services',
 'Maintenance and repairs of electronic and communications equipment': 'Home entertainment services',
 'Entertainment': 'Recreational services',
 'Movie theatres': 'Entertainment',
 'Live sporting and performing arts events': 'Entertainment',
 'Admission fees to museums, zoos and other sites': 'Entertainment',
 'Television and satellite radio services (including installation, service and pay TV charges)': 'Entertainment',
 'Rental of cablevision services (including any installation, service and pay TV charges)': 'Television and satellite radio services (including installation, service and pay TV charges)',
 'Rental of satellite TV or radio services (including installation, service and pay TV charges)': 'Television and satellite radio services (including installation, service and pay TV charges)',
 'Use of recreation facilities': 'Recreational services',
 'Dues and fees for sports and recreation facilities': 'Use of recreation facilities',
 "Children's camps": 'Use of recreation facilities',
 'Package trips': 'Recreational services',
 'Other recreational activities and services': 'Recreational services',
 'Purchase of recreational vehicles': 'Recreational vehicles and associated services',
 'Motorcycles and snowmobiles (purchase)': 'Purchase of recreational vehicles',
 'All-terrain vehicles (purchase)': 'Purchase of recreational vehicles',
 'Other recreational vehicles (purchase)': 'Purchase of recreational vehicles',
 'Bicycles (purchase), parts and accessories': 'Purchase of recreational vehicles',
 'Operation of recreational vehicles': 'Recreational vehicles and associated services',
 'Insurance premiums for recreational vehicles': 'Operation of recreational vehicles',
 'Registration fees and licences for recreational vehicles': 'Operation of recreational vehicles',
 'Parking, storage fees and other dues': 'Operation of recreational vehicles',
 'Other expenses for recreational vehicles': 'Operation of recreational vehicles',
 'Tuition fees': 'Education',
 'Tuition fees for kindergarten, elementary and secondary schools': 'Tuition fees',
 'Tuition fees for university': 'Tuition fees',
 'Tuition fees for other training (college, trade and professional institutions)': 'Tuition fees',
 'Other educational services': 'Tuition fees',

For each expense, we are going to add a column showing its parent expense, if any.

In [17]:
df_metadata["Parent Member Name 1"] = ''
for i in range(len(df_metadata)):

    try:
        expense_name = df_metadata.loc[i, "Member Name"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 1"] = parent_name
    except:
        pass

In [18]:
df_metadata

,Member Name,Member ID,Parent Member ID,Parent Member Name 1
0,Average expenditure per household,1,NaN,
1,Total expenditure,1,NaN,
2,Total current consumption,2,1,Total expenditure
3,Food expenditures,3,2,Total current consumption
4,Food purchased from stores,4,3,Food expenditures
...,...,...,...,...
354,"Tobacco products, alcoholic beverages and cann...",359,2,Total current consumption
355,"Other tobacco products, smokers' supplies and ...",360,279,Tobacco products and smokers' supplies
356,Cannabis for non-medical use,361,37,Tobacco products and alcoholic beverages
357,Administration fees for brokers and stock and ...,362,290,Financial services
358,Fines,363,295,Other miscellaneous goods and services

We will repeat the process untill all expenses can be traced back to the widest expense group "Total expenditure"

In [19]:
df_metadata["Parent Member Name 2"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 1"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 2"] = parent_name
    except:
        pass

In [20]:
df_metadata["Parent Member Name 3"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 2"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 3"] = parent_name
    except:
        pass

In [21]:
df_metadata["Parent Member Name 4"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 3"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 4"] = parent_name
    except:
        pass

In [22]:
df_metadata["Parent Member Name 5"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 4"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 5"] = parent_name
    except:
        pass

In [23]:
df_metadata["Parent Member Name 6"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 5"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 6"] = parent_name
    except:
        pass

In [24]:
df_metadata["Parent Member Name 7"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 6"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 7"] = parent_name
    except:
        pass
df_metadata["Parent Member Name 8"] = ''
for i in range(len(df_metadata)):
    try:
        expense_name = df_metadata.loc[i, "Parent Member Name 7"]
        parent_name = parent_expense_dict[expense_name]
        df_metadata.loc[i, "Parent Member Name 8"] = parent_name
    except:
        pass
df_metadata.head(10)

,Member Name,Member ID,Parent Member ID,Parent Member Name 1,Parent Member Name 2,Parent Member Name 3,Parent Member Name 4,Parent Member Name 5,Parent Member Name 6,Parent Member Name 7,Parent Member Name 8
0,Average expenditure per household,1,NaN,,,,,,,,
1,Total expenditure,1,NaN,,,,,,,,
2,Total current consumption,2,1,Total expenditure,,,,,,,
3,Food expenditures,3,2,Total current consumption,Total expenditure,,,,,,
4,Food purchased from stores,4,3,Food expenditures,Total current consumption,Total expenditure,,,,,
5,Food purchased from restaurants,5,3,Food expenditures,Total current consumption,Total expenditure,,,,,
6,Shelter,6,2,Total current consumption,Total expenditure,,,,,,
7,Principal accommodation,7,6,Shelter,Total current consumption,Total expenditure,,,,,
8,Rented living quarters,8,7,Principal accommodation,Shelter,Total current consumption,Total expenditure,,,,
9,Owned living quarters,9,7,Principal accommodation,Shelter,Total current consumption,Total expenditure,,,,

In [25]:
for i in range(len(df_metadata)):
    if not pd.isnull(df_metadata.loc[i,"Parent Member Name 8"]):
        print(df_metadata.loc[i,"Parent Member Name 8"])

Column "Parent Member Name 8" is empty, indicating that all expenses in column 7 do not have any parent expense and we have traced all expenses to the biggest parent expense group. 
We can now drop the Member ID and Parent ID columns because we no longer need them.

In [26]:
columns = ["Member Name", "Parent Member Name 1", 
           "Parent Member Name 2", "Parent Member Name 3", 
           "Parent Member Name 4", "Parent Member Name 5", 
           "Parent Member Name 6", "Parent Member Name 7", 
           "Parent Member Name 8"]
df_meta = df_metadata[columns]
df_meta.head(10)

,Member Name,Parent Member Name 1,Parent Member Name 2,Parent Member Name 3,Parent Member Name 4,Parent Member Name 5,Parent Member Name 6,Parent Member Name 7,Parent Member Name 8
0,Average expenditure per household,,,,,,,,
1,Total expenditure,,,,,,,,
2,Total current consumption,Total expenditure,,,,,,,
3,Food expenditures,Total current consumption,Total expenditure,,,,,,
4,Food purchased from stores,Food expenditures,Total current consumption,Total expenditure,,,,,
5,Food purchased from restaurants,Food expenditures,Total current consumption,Total expenditure,,,,,
6,Shelter,Total current consumption,Total expenditure,,,,,,
7,Principal accommodation,Shelter,Total current consumption,Total expenditure,,,,,
8,Rented living quarters,Principal accommodation,Shelter,Total current consumption,Total expenditure,,,,
9,Owned living quarters,Principal accommodation,Shelter,Total current consumption,Total expenditure,,,,

For ease of future analysis, we will create a df_category dataframe, which rewrites from df_meta. df_category shows expense categories "backwards", starting from total expenditure, then smaller expense group, until we reach the specific type of expense.

In [27]:
col_names = ["Expense Type",
            "Category", "Sub-category 1",
            "Sub-category 2", "Sub-category 3",
            "Sub-category 4", "Sub-category 5",
            "Sub-category 6", "Sub-category 7",
            "Sub-category 8"]
df_category = pd.DataFrame(columns = col_names)
df_category.head(5)

Empty DataFrame
Columns: [Expense Type, Category, Sub-category 1, Sub-category 2, Sub-category 3, Sub-category 4, Sub-category 5, Sub-category 6, Sub-category 7, Sub-category 8]
Index: []

In [28]:
for i in range(len(df_metadata)):
    df_category.loc[i, "Expense Type"] = df_meta.loc[i, "Member Name"]
    
df_category.head(5)

,Expense Type,Category,Sub-category 1,Sub-category 2,Sub-category 3,Sub-category 4,Sub-category 5,Sub-category 6,Sub-category 7,Sub-category 8
0,Average expenditure per household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total current consumption,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Food expenditures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Food purchased from stores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
for i in range(len(df_category)):
    
    for j in range(1, 9):
        col = "Parent Member Name " + str(9-j)

        if df_meta.loc[i, col] != "":
            for k in range(1,9-j+1):
                col = "Parent Member Name " + str(9-j-k+1)
                category = "Sub-category " + str(k)
                df_category.loc[i,category] = df_metadata.loc[i, col]
                
            break
        
df_category.head(15)

,Expense Type,Category,Sub-category 1,Sub-category 2,Sub-category 3,Sub-category 4,Sub-category 5,Sub-category 6,Sub-category 7,Sub-category 8
0,Average expenditure per household,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total current consumption,NaN,Total expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Food expenditures,NaN,Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN,NaN
4,Food purchased from stores,NaN,Total expenditure,Total current consumption,Food expenditures,NaN,NaN,NaN,NaN,NaN
5,Food purchased from restaurants,NaN,Total expenditure,Total current consumption,Food expenditures,NaN,NaN,NaN,NaN,NaN
6,Shelter,NaN,Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN,NaN
7,Principal accommodation,NaN,Total expenditure,Total current consumption,Shelter,NaN,NaN,NaN,NaN,NaN
8,Rented living quarters,NaN,Total expenditure,Total current consumption,Shelter,Principal accommodation,NaN,NaN,NaN,NaN
9,Owned living quarters,NaN,Total expenditure,Total current consumption,Shelter,Principal accommodation,NaN,NaN,NaN,NaN
10,"Water, fuel and electricity for principal acco...",NaN,Total expenditure,Total current consumption,Shelter,Principal accommodation,NaN,NaN,NaN,NaN
11,Other accommodation,NaN,Total expenditure,Total current consumption,Shelter,NaN,NaN,NaN,NaN,NaN
12,Household operations,NaN,Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN,NaN
13,Communications,NaN,Total expenditure,Total current consumption,Household operations,NaN,NaN,NaN,NaN,NaN
14,Household furnishings and equipment,NaN,Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# checking that Sub-category 8 is empty
for i in range(len(df_category)):
    if not pd.isnull(df_category.loc[i,"Sub-category 8"]):
        print(df_category.loc[i,"Sub-category 8"])

In [31]:
# drop column Sub-category 8 because it is empty
columns = ["Category", "Sub-category 8"]
df_category = df_category.drop(columns = columns)
df_category

,Expense Type,Sub-category 1,Sub-category 2,Sub-category 3,Sub-category 4,Sub-category 5,Sub-category 6,Sub-category 7
0,Average expenditure per household,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total current consumption,Total expenditure,NaN,NaN,NaN,NaN,NaN,NaN
3,Food expenditures,Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN
4,Food purchased from stores,Total expenditure,Total current consumption,Food expenditures,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
354,"Tobacco products, alcoholic beverages and cann...",Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN
355,"Other tobacco products, smokers' supplies and ...",Total expenditure,Total current consumption,Tobacco products and alcoholic beverages,Tobacco products and smokers' supplies,NaN,NaN,NaN
356,Cannabis for non-medical use,Total expenditure,Total current consumption,Tobacco products and alcoholic beverages,NaN,NaN,NaN,NaN
357,Administration fees for brokers and stock and ...,Total expenditure,Total current consumption,Miscellaneous expenditures,Financial services,NaN,NaN,NaN
358,Fines,Total expenditure,Total current consumption,Miscellaneous expenditures,Other miscellaneous goods and services,NaN,NaN,NaN

# Merge two dfs
It is time to go back to our original dataframe, df_1.

In [32]:
df_1

,Year,GEO,Expense Type,Amount
0,2010,Canada,Total expenditure,72075.0
1,2010,Canada,Total current consumption,54013.0
2,2010,Canada,Food expenditures,7850.0
3,2010,Canada,Food purchased from stores,5709.0
4,2010,Canada,Bakery products,581.0
...,...,...,...,...
36512,2019,British Columbia,Gifts of money and support payments,2837.0
36513,2019,British Columbia,Gifts of money to persons living in Canada,2187.0
36514,2019,British Columbia,Gifts of money to persons living outside Canada,331.0
36515,2019,British Columbia,Alimony and child support,320.0
36516,2019,British Columbia,Charitable contributions,989.0

For each row of expense in df_1, we can introduce the categories that the expense is under, by merging df_category into df_1

In [33]:
combined_df = pd.merge(df_1, df_category, how="left", on="Expense Type")
# combined_df = pd.merge(df_1, df_category, on="Expense Type")

combined_df

,Year,GEO,Expense Type,Amount,Sub-category 1,Sub-category 2,Sub-category 3,Sub-category 4,Sub-category 5,Sub-category 6,Sub-category 7
0,2010,Canada,Total expenditure,72075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Canada,Total current consumption,54013.0,Total expenditure,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Canada,Food expenditures,7850.0,Total expenditure,Total current consumption,NaN,NaN,NaN,NaN,NaN
3,2010,Canada,Food purchased from stores,5709.0,Total expenditure,Total current consumption,Food expenditures,NaN,NaN,NaN,NaN
4,2010,Canada,Bakery products,581.0,Total expenditure,Total current consumption,Food expenditures,Food purchased from stores,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
36512,2019,British Columbia,Gifts of money and support payments,2837.0,Total expenditure,"Gifts of money, support payments and charitabl...",NaN,NaN,NaN,NaN,NaN
36513,2019,British Columbia,Gifts of money to persons living in Canada,2187.0,Total expenditure,"Gifts of money, support payments and charitabl...",Gifts of money and support payments,NaN,NaN,NaN,NaN
36514,2019,British Columbia,Gifts of money to persons living outside Canada,331.0,Total expenditure,"Gifts of money, support payments and charitabl...",Gifts of money and support payments,NaN,NaN,NaN,NaN
36515,2019,British Columbia,Alimony and child support,320.0,Total expenditure,"Gifts of money, support payments and charitabl...",Gifts of money and support payments,NaN,NaN,NaN,NaN
36516,2019,British Columbia,Charitable contributions,989.0,Total expenditure,"Gifts of money, support payments and charitabl...",NaN,NaN,NaN,NaN,NaN

The cell is now readay for export!

In [34]:
combined_df.to_excel("transformed data.xlsx")